<div class="container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of dataPagination; let i=index">
          <th scope="row">{{nextNumber+i+1}}</th>
          <td>{{d.name}}</td>
          <td>{{d.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-pagination 
    [data]="data" [(dataPagination)]="dataPagination" [rows]="5" [(nextNumber)]="nextNumber">
  </app-pagination>
</div>